html, body{ 
	width:100%; 
	height:100%; 
	margin:0; 
	overflow: hidden;
	background: #EDF0F4;
}

#msg{
	height: 2.5em;
	line-height: 2em;
	text-align: center;
	font-size: 0.9em;
	color: #fff;
	background: rgba(73,155,234,1);
}
#msg > a{ color: yellow; }

#container{ 
	height: 100%; 
	position: absolute;
	top: 0;
	width: 100%;
}

#siteLogo{
	position:absolute;
	top:0.5em; left:0.5em;
	z-index:91;
	width:170px;
}
	#siteLogo img{
		filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 5px #fff);
		-webkit-filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 5px #fff);		
	}

#recruit .popover{
	opacity: 0.9;
	display: inline-block;
	position: absolute;
	left: 205px;
	top: 0.5em;
	z-index: 80;
	cursor: pointer;
}
#recruit .popover-content{
	padding: 3px 8px;
	font-size: 0.8em;
}
#fb-bot {
	opacity: 0.9;
	position: absolute;
	width: 40px;
	left: 170px;
	top: 0;
	z-index: 80;
}

#map-container{
	width:100%;
	height: 100%;
}
#map-container > div{ background-color: #EDF0F4 !important; }

#geoLocate{
	margin: 0 0 -5px 10px;
}
	#geoLocate > button{
		background-color: #fff;
	    border: medium none;
	    border-radius: 2px;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	    cursor: pointer;
	    height: 28px;
	    margin-right: 10px;
	    outline: medium none;
	    padding: 0;
	    width: 28px;
	}
		#geoLocate .icon-gps{
			background-image: url("https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png");
		    background-position: 0 0;
		    background-repeat: no-repeat;
		    background-size: 180px 18px;
		    height: 18px;
		    margin: 5px;
		    width: 18px;
		}
			#geoLocate .icon-gps.gps-located{
				background-position: -144px 0;
			}
			#geoLocate .icon-gps.gps-unlocate{
				background-position: -18px 0;
			}
#footer { padding: 5px; }
#footer > p { text-align: center; }
#footer .datasource a {margin: 0 3px;}
#footer .datasource img {max-height: 40px;}

#info-on-map{
	position: absolute;
	bottom: 55px;
	right: 50px;
	padding: 3px 8px;
	cursor: default;
	opacity: .6;
	border-radius: 8px;
	background-color: #fff;
	color: #000;
	text-align: center;
}
